doctype html
html(lang='ja')
	head
		meta(charset='utf-8')
		title PugTest
		style(src='css/style.css')
	body
		header
			h1 PugTestタイトルこーーーる！
		nav
			ul
				li: a(href="#") Top
				li: a(href="#") About
				li: a(href="#") Works
				li: a(href="#") Contact
				li: a(href="#"): span Links
		main
			section
				h2.common-ttl メインタイトル
				div.common-jobList
					ul
						li: a(href="#") 1件目
						//li: a(href="#") 2件目
						li: a(href="#") 3件目
						//li: a(href="#") 4件目
						//li: a(href="#"): span 5件目