doctype html
html(lang='ja')
	head
		meta(charset='utf-8')
		title PugTest
		link(rel='stylesheet' href='css/svg_style.css')
	body
		section#section1
			div.inner
				h2 Section First
		section#section2
			div.inner
				h2 Section Second
		section#section3
			div.inner
				h2 Section Third