@charset "utf-8";

/*=======================
reset
=======================*/
html,body{
margin:0;
padding:0;
font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", verdana, arial, helvetica, sans-serif;
background: #FcFcFc;
color: #000;
font-size: 18px;
line-height: 22px;
-webkit-appearance: none;
display: flex;
flex-direction: column;
min-height: 100vh;
}
div,dl,dt,dd,ul,ol,li,p{
display:block;
margin:0;
padding:0;
box-sizing:border-box;
}
